<div class="login-container">
  <mat-card class="login-card">
    <h1 class="login-title">LaunchDarkly Login</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" class="login-button">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </div>      
    </form>
  </mat-card>
</div>
