<div class="container">
    <h2>LaunchDarkly Feature Flags</h2>
    <input [(ngModel)]="featureFlagKey" placeholder="Enter Feature Flag Key" required />
    <button (click)="getFlagStatus()" [disabled]="!featureFlagKey">Get Flag Status</button>
    <label>
        <input type="checkbox" [disabled]="!featureFlagKey" [(ngModel)]="isFlagEnabled" (change)="toggleFlag()" /> Toggle Flag(If checked means Flag is ON)
    </label>

    <!-- <button (click)="deleteFeatureFlag()" [disabled]="!featureFlagKey">Delete Flag</button> -->
    <div *ngIf="flagStatus">

        <table>
            <tr>
              <th>Flag Key</th>
              <th>Flag Status</th>
              <th>Flag Variation Id</th>
              <th>Targets</th>
            </tr>
            <tr>
              <td>{{ flagStatus.key}} </td>
              <td>{{ flagStatus.environments.test.on == true ? 'ON' : 'OFF'}}</td>
              <td>{{ flagStatus.variations[0]._id}}</td>
              <td><div *ngFor="let item of flagStatus.environments.test.targets">
                    <div *ngFor="let person of item.values">
                    <span>{{person}}</span>
                    </div>        
                  </div>
              </td>
            </tr>
          </table>
    </div>

    <p *ngIf="flagStatus == false">Flag Not Created yet!!! Kindly create the flag.</p>
  
    <h3>Create Feature Flag</h3>
    <input [(ngModel)]="newFlagData.name" placeholder="Enter Flag Name" required />
    <input [(ngModel)]="newFlagData.key" placeholder="Enter Flag Key" required />
    <input [(ngModel)]="newFlagData.description" placeholder="Enter Flag Description" required />
    <button (click)="createFeatureFlag()" [disabled]="!newFlagData.name || !newFlagData.key || !newFlagData.description">Create Flag</button>
  
    <h3>Add Target</h3>
    <input [(ngModel)]="targetData.values[0]" placeholder="Enter Target Value" required />
    <button (click)="addTargetToFlag()" [disabled]="!targetData.values[0] || !featureFlagKey">Add Target</button>
  
    <h3>Remove Target</h3>
    <input [(ngModel)]="removeTargetValues[0]" placeholder="Enter Target Value to Remove" required />
    <input [(ngModel)]="removeTargetVariationId" placeholder="Enter Variation ID" required />
    <button (click)="removeTarget()" [disabled]="!featureFlagKey || !removeTargetValues[0] || !removeTargetVariationId">Remove Target</button>
  
    <h3>Clear All Targets</h3>
    <input [(ngModel)]="variationId" placeholder="Enter Variation ID" required />
    <button (click)="clearAllTargets()" [disabled]="!featureFlagKey || !variationId">Clear All Targets</button>
    <div>To get Variation ID, first get the Flag status and in the response there is "Flag Variation Id" use this one</div>

    <br>



    <p>Note: For Add Target - Kindly enter single Target ID (Example: PW-38XXXX7) at one time. Multiple Targets are not allowed.</p>
</div>