.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  input {
    margin: 10px;
    padding: 8px;
  }
  button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }