<div class="container">
  <div class="dashboard-container">
    <h2 style="text-align: center;">Welcome to LaunchDarkly Feature Flag Dashboard
    <button color="red-highlight" (click)="logout()">Logout</button></h2>
  </div>
  <!-- Tab Group -->
  <mat-tab-group  mat-stretch-tabs class="custom-tab-group">
    
    <!-- Tab 1: Retrieve Flag Status -->
    <mat-tab label="Retrieve Flag Status">
      <div class="tab-content">
        <h3>Retrieve Feature Flag Status</h3>
        <div class="input-group">
          <input style= "width: 300px;" [(ngModel)]="featureFlagKey" placeholder="Enter Feature Flag Key" required />
          <button (click)="getFlagStatus()" [disabled]="!featureFlagKey || isLoading" >
            <span *ngIf="!isLoading">Get Flag Status</span>
            <div *ngIf="isLoading" class="loader"></div>
          </button>
       
        <span> {{ isFlagEnabled ? 'Flag is Enabled' : 'Flag is Disabled' }} </span>
        <mat-slide-toggle 
          class="custom-slider"
          [disabled]="!featureFlagKey" 
          [(ngModel)]="isFlagEnabled" 
          (change)="toggleFlag()">
        </mat-slide-toggle>

        <span>&nbsp; &nbsp; &nbsp;</span>
        <span>{{ flagDefaultRule ? 'Default Rule is Enabled' : 'Default Rule is Disabled' }}</span>
        <mat-slide-toggle 
          class="custom-slider"
          [disabled]="!featureFlagKey" 
          [(ngModel)]="flagDefaultRule" 
          (change)="toggleDefaultRule()">
        </mat-slide-toggle>

      </div>
        <div *ngIf="flagStatus">
          <h3>Flag Key : {{ flagStatus.key }}</h3> 
          <h4>Test Environment Flag Details:</h4>
          <table>
            <thead>
              <tr>
                <th>Test Envitonment - Flag Status</th>
                <th>Test Envitonment- Targets</th>
                <th>Test Default Rule</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td [ngClass]="flagStatus.environments.test.on? 'green-highlight' : 'red-highlight'">{{ flagStatus.environments.test.on ? 'ON' : 'OFF' }}</td>
                <td>
                  <div *ngFor="let item of flagStatus.environments.test.targets">
                    <div *ngFor="let person of item.values">
                      <span>{{ person }}</span>
                    </div>
                  </div>
                </td>
                <td>{{ flagStatus.environments.test.on ? (flagStatus.environments.test.fallthrough.variation == 0 ? 'True' : 'False') : ''}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="flagStatus">
          <h4>Prod Environment Flag Details:</h4>
          <table>
            <thead>
              <tr>
                <th>PROD Envitonment - Flag Status</th>
                <th>PROD Envitonment- Targets</th>
                <th>PROD Default Rule</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td [ngClass]="flagStatus.environments.production.on? 'green-highlight' : 'red-highlight'">{{ flagStatus.environments.production.on ? 'ON' : 'OFF' }}</td>
                <td>
                  <div *ngFor="let item of flagStatus.environments.production.targets">
                    <div *ngFor="let person of item.values">
                      <span>{{ person }}</span><br>
                    </div>
                  </div>
                </td>
                <td>{{ flagStatus.environments.production.on ? (flagStatus.environments.production.fallthrough.variation == 0 ? 'True' : 'False') : '' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3 *ngIf="flagStatus == false && featureFlagKey">Flag Not Created yet!!! Kindly create the flag.</h3>
      </div>
    </mat-tab>

    <!-- Tab 2: Create Feature Flag -->
    <mat-tab label="Create Feature Flag">
      <div class="tab-content">
        <h3>Create a New Feature Flag </h3> <span> (By Default After Flag Creation, Flag will be OFF/Disabled.)</span>
        <div class="input-group">
          <input style= "width: 300px;" [(ngModel)]="newFlagData.name" placeholder="Enter Flag Name" required />
          <input style= "width: 300px;" [(ngModel)]="newFlagData.key" placeholder="Enter Flag Key" required />
          <input style= "width: 300px;" [(ngModel)]="newFlagData.description" placeholder="Enter Flag Description" required />
          <button (click)="createFeatureFlag()" 
              [disabled]="!newFlagData.name || !newFlagData.key || !newFlagData.description || isLoading">
            <span *ngIf="!isLoading">Create Flag</span>
            <div *ngIf="isLoading" class="loader"></div>
        </button>
        </div>
      </div>
    </mat-tab>

    <!-- Tab 3: Manage Targets -->
    <mat-tab label="Manage Targets">
      <div class="tab-content">
        <h2>Manage Targets</h2>
        <div class="input-group">
          <h4>Feature Flag Key*
            <input style= "width: 400px;" [(ngModel)]="targetFeatureFlagKey" placeholder="Enter Feature Flag Key for which targets need change" required />
          <button (click)="clearAllTargets()" [disabled]="!targetFeatureFlagKey">Clear All Targets</button>
        </h4>
        </div>

        <h2>Add Target</h2>
        <div class="input-group">
          <input [(ngModel)]="targetData" placeholder="Enter Target Value" required />
          <button (click)="addTargetToFlag()" [disabled]="!targetData || !targetFeatureFlagKey">Add Target</button>
        </div>
        <span>Note: Enter a single Target ID (e.g., PW-38XXXX7) at one time. Multiple Targets are not allowed.</span>
        
        <h2>Remove Target</h2><span> (Kindly check the Default rule true/false after update.)</span>
        <div class="input-group">
          <input style= "width: 200px;" [(ngModel)]="removeTargetValues" placeholder="Enter Target Value to Remove" required />
          <button (click)="removeTarget()" [disabled]="!targetFeatureFlagKey || !removeTargetValues">Remove Target</button>
        </div>

      </div>
    </mat-tab>

  </mat-tab-group>
</div>
